table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 5px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #Book_Container{
    text-align: center; 
    border: 1px solid;
     width: 400px;
     height:auto;
     background-Color:rgb(69, 142, 184);
     margin-left:auto;
     margin-right:auto;
     margin-top:100px;
     display: flex-box;
     flex-direction: "column"
}

#form_heading{
    margin-bottom: 50px;

}

#formlabel_1{
    text-align: "center";
     margin: 20px
}

 .forminputtype{
    margin: 20px

}







nav {
  background-color: #333;
  padding: 1px ;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

li {
  display: inline;
  margin-right: 200px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ffa500;
}





* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 80%;
  padding: 20px;
}